version: "3.9"
services:
  forum:
    container_name: forum
    hostname: forum
    ports:
    - "5000:5000/tcp"
    environment:
        - TZ=Europe/Zurich
    networks:
      vnet_int_forum:
          ipv4_address: 172.24.0.20   #Vergabe virtuelle interne IP für gunicorn
    env_file:
        - .env
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
  nginx:
    image: nginx:mainline-alpine3.18-perl
    container_name: forum_ngnix
    restart: always
    networks:
      vnet_int_forum:
          ipv4_address: 172.24.0.10  #Vergabe virtuelle interne IP für nginx  
    ports:
      - 80:80
    volumes:
      - ./nginx/global.conf:/etc/nginx/conf.d/default.conf:ro  #Angabe Konfigurationsdatei Docker 
networks:
  vnet_int_forum:  #Definition Weiterleitungsnetzwerk   
    driver: bridge
    ipam:
     config:
       - subnet: 172.24.0.0/24
         gateway: 172.24.0.1 
 