<table class="table table-hover">
    <tr>
        <td>
            <h3><a href="{{ url_for('main.thread_posts', id=thread.id) }}">{{ thread.title }}</a></h3>   <!-- Überschrift mit Link zu den Posts dieses Threads -->
            {% if thread.creator %} <!-- Überprüfen, ob ein Ersteller vorhanden ist -->
                <p>{{ _('Created by: ') }}
                    <a href="{{ url_for('main.user', username=thread.creator.username) }}">  <!-- Anzeigen des Benutzernamens des Erstellers mit Link zum Benutzerprofil -->
                        {{ thread.creator.username }}
                    </a>
                </p>

            {% else %}               
                <p>{{ _('Created by: Unknown') }}</p> <!-- Anzeigen einer Meldung, wenn kein Ersteller abgerufen werden kann-->
            {% endif %}   

            <p>{{ _('Createdate: %(date)s', date=thread.creation_date.strftime('%Y-%m-%d %H:%M:%S')) }} &nbsp;&nbsp; <!-- Anzeigen des Erstellungsdatums -->
            
           {{ _('Last edited: %(date)s', date=thread.last_update.strftime('%Y-%m-%d %H:%M:%S')) }}</p> <!-- Anzeigen des letzten Aktualisierungsdatums -->
        </td>
    </tr>
</table>
