{% extends "base.html" %}

{% block app_content %}
    <h1>Useroverview</h1>
    <table>
        <thead>
            <tr>
                <th>Username   </th><!-- Tabellenkopf für den Benutzernamen-->
                <th>E-Mail   </th><!-- Tabellenkopf für die Email-->
                <th>Admin?   </th> <!-- Tabellenkopf für die Admin-Checkbox-->
                <th>Delete</th> <!-- Tabellenkopf für die Löschfunktion -->
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <form action="{{ url_for('main.toggle_admin', user_id=user.id) }}" method="POST">  <!-- Formular zum Ändern des Admin-Status -->
                        <input type="checkbox" name="admin" {% if user.is_admin %}checked{% endif %}> <!-- Checkbox für Admin-Status -->
                        <input type="submit" value="Save"><!-- Submit-Button zum Speichern -->
                    </form>
                </td>
                <td>
                    <form action="{{ url_for('main.delete_user', user_id=user.id) }}" method="POST"> <!-- Formular zum Löschen des Benutzers -->
                        <input type="hidden" name="confirmation" value="true"> <!-- Bestätigung des Löschens mittels Popup -->
                        <input type="submit" value="Delete" onclick="return confirm('Are you sure to delete this user?');"> <!-- Bestätigungsnachricht und Button für das Löschen -->
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}