{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('Thread-Posts) }}</h1>
    <h2>{{ thread.title }}</h2> <!-- Anzeige des Thread-Titels -->

    <div id="posts"><!-- Bereich zur Anzeige der Beiträge -->
        <h3>{{ _('Posts') }}</h3>
        <ul> <!--  Liste zur Anzeige der Beiträge -->
            {% for post in posts %}
                {% include '_post.html' %}                    
                    {% if current_user.is_admin %} <!-- Überprüfen, ob der aktuelle Benutzer ein Administrator ist, um den Löschen-Button für den Beitrag anzuzeigen -->
                        <!-- Formular zum Löschen des Beitrags -->                       
                        <form action="{{ url_for('main.delete_post', id=post.id) }}" method="post"> <!-- Button, der beim Klicken eine POST-Anfrage zum Löschen des Beitrags sendet -->
                            <button type="submit" class="btn btn-danger btn-sm">Löschen</button>
                        </form>
                    {% endif %}
            {% endfor %}
        </ul>
    </div>
    <h3>{{ _('Create a new Post!') }}</h3>
    <form method="post">    <!-- HTML-Formular für die Beitragserstellung -->
        {{ wtf.quick_form(form) }}
    </form>
{% endblock %}