{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <!-- Überschrift für die Seite -->
    <h1>{{ _('Hi, %(username)s!', username=current_user.username) }}</h1>
    
    <!-- Bereich zur Anzeige von Threads -->
    <div id="threads">
        <!-- Überschrift für die Liste der Threads -->
        <h2>Threads</h2>
        <!-- Unsortierte Liste zur Anzeige der Threads -->
        <ul>
            <!-- Schleife über alle Threads -->
            {% for thread in threads %}
            {% include '_thread.html' %}
                <li>
                    <!-- Link zum Anzeigen der Posts dieses Threads -->
                    <!-- Verwendung der Flask-Funktion url_for, um die URL zur Anzeige der Posts zu generieren -->
                    <a href="{{ url_for('main.thread_posts', id=thread.id) }}">{{ thread.title }}</a>
                    <!-- Prüfen, ob der Benutzer Admin ist, um die Löschen-Schaltfläche anzuzeigen -->
                    {% if current_user.is_admin %}
                        <!-- Formular zum Löschen des Threads -->
                        <!-- Das Formular hat eine Schaltfläche, die beim Klicken eine POST-Anfrage zum Löschen des Threads sendet -->
                        <form action="{{ url_for('main.delete_thread', id=thread.id) }}" method="post">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
    
    <!-- Formular zum Hinzufügen eines neuen Threads (nur sichtbar für angemeldete Benutzer) -->
    {% if form %}
        {{ wtf.quick_form(form) }}
        <br>
    {% endif %}
    
    <!-- Bereich zur Anzeige von Posts innerhalb eines Threads -->
    <div id="posts" style="display: none;">
        <!-- Überschrift für die Liste der Posts -->
        <h2 id="thread-title"></h2>
        <!-- Unsortierte Liste zur Anzeige der Posts -->
        <ul id="post-list"></ul>
    </div>
{% endblock %}
